.surf {
    height: auto;
    position: relative;
}

/* .surf__background {} */

.surf__background-text {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 150px;
    left: -49px;
    text-transform: uppercase;
    color: rgb(255, 255, 255, 0.02);
    font-family: Fira Sans;
    font-size: 200px;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
}

.surf__background-point {
    position: absolute;
    top: 219px;
    right: 0;
}

.surf__background-coordinates {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 670px;
    right: -100px;
    color: rgb(255, 255, 255, 0.4);
    text-align: right;
    font-family: Fira Sans;
    font-size: min(calc(100vw * 0.0125), 18px);
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 8px;
    text-transform: uppercase;
    transform: rotate(-90deg);
    width: auto;
}

.surf__title {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-family: Fira Sans;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    margin-left: 245px;
}

.surf__title-decoration {
    width: 80px;
    height: 1px;
    background-color: #4AF6CD;
    margin-top: 160px;
    margin-left: 352px;
}

.surf__subtitle-section {
    margin-top: 58px;
    text-align: end;
    margin-right: 73px;
}

.surf__subtitle {
    margin-top: -10px;
}

.surf__point-box {
    position: relative;
    margin-top: -20px;
    width: calc(100% - 150px);
    height: calc(100vw - 550px);
    margin-left: 2vw;
    background-image: url(../../images/Map_dots.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.surf__point {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    top: 71%;
    left: -1%;
    width: 24px;
    height: 24px;
    background-color: #4AF6CD;
    border-radius: 50%;
    z-index: 3;
    box-shadow: 0px 0px 19px rgba(74, 246, 205, 0.84);
}

.surf__point:hover {
    border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
    transform: rotate(-45deg);
}

.surf__point:nth-child(1) {
    top: 20vw;
    left: 12vw;
}

.surf__point:nth-child(2) {
    top: 23vw;
    left: 28vw;
}

.surf__point:nth-child(3) {
    top: 16vw;
    left: 40vw;
}

.surf__point:nth-child(4) {
    top: 36vw;
    left: 33vw;
}

.surf__point:nth-child(5) {
    top: 28vw;
    left: 61vw;
}

.surf__point:nth-child(6) {
    top: 23vw;
    left: 2vw;
}

.surf__point:nth-child(6):hover .surf__info {
    margin-left: 345px;
    margin-bottom: -65px;
}

.surf__point:nth-child(7) {
    top: 38vw;
    left: 46vw;
}

.surf__point:nth-child(8) {
    top: 21vw;
    left: 75vw;
}

.surf__point:nth-child(9) {
    top: 35vw;
    left: 81vw;
}

.surf__point:nth-child(9):hover .surf__info {
    margin-left: 24px;
    margin-bottom: 86px;
}

.surf__img-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 277px;
}

.surf__img-element {
    width: calc(100vw * 0.270833);
    height: calc(100vw * 0.520833);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.surf__img-element::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.85;
    background-color: #1C2121;
    z-index: 5;
    visibility: visible;
}

.surf__img-element:hover::before {
    visibility: hidden;
}

.surf__img-element:nth-child(1) {
    background-image: url(../../images/Surf_img1.jpg);
    z-index: 1;
}

.surf__img-element:nth-child(2) {
    background-image: url(../../images/Surf_img2.jpg);
    margin-top: -32px;
    margin-left: -40px;
    margin-right: -40px;
    z-index: 2;
}

.surf__img-element:nth-child(3) {
    background-image: url(../../images/Surf_img3.jpg);
    margin-top: 90px;
    margin-left: -10px;
    z-index: 3;
}

.surf__img-element:nth-child(4) {
    background-image: url(../../images/Surf_img4.jpg);
    margin-top: -32px;
    margin-left: -40px;
    z-index: 4;
}

.surf__img-title {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-family: Fira Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 36px;
    text-transform: uppercase;
    max-width: 155px;
    margin-top: calc(100vw * 0.05);
    margin-left: 40px;
    z-index: 6;
}

.surf__img-subtitle {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-family: Fira Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 8px;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    transform: scale(-1);
    margin-left: 39px;
    z-index: 6;
}

.surf__img-subtitle-line {
    color: #FFF;
    font-family: Fira Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
    line-height: 22px;
    letter-spacing: 8px;
    text-transform: uppercase;
    z-index: 6;
}

.surf__img-link {
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 80px;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    z-index: 6;
}

.surf__img-element:hover .surf__img-link {
    visibility: visible;
}

.surf__link-text {
    margin: 0;
    padding: 0;
    color: #FFF;
    text-align: right;
    font-family: Fira Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 36px;
    text-transform: uppercase;
    z-index: 10;
    margin-right: -10px;
}

.surf__link-text:nth-child(2) {
    width: calc(100vw * 0.116667);
    height: 80px;
    background-color: #4AF6CD;
    display: flex;
    align-items: center;
    z-index: 0;
    margin-right: auto;
    padding-left: 17px;
}

.surf__link-arrow {
    width: 24px;
    height: 20px;
    margin-left: 20px;
}

.surf__info {
    visibility: hidden;
    position: absolute;
    width: 283px;
    height: 216px;
    border-radius: 6px;
    opacity: 0.7;
    background-color: #0f1010;
    display: flex;
    flex-direction: column;
}

.surf__point:hover .surf__info {
    margin-left: 196px;
    visibility: visible;
    transform: rotate(45deg);
}

.surf__info-header {
    display: grid;
    grid-template-columns: 109px 94px 17px;
    grid-template-rows: 1fr 1px 1fr;
    grid-template-areas:
        "title . button"
        "deco . ."
        "subtitle . .";
    margin-top: 28px;
    margin-left: 32px;
}

.surf__info-title {
    margin: 0;
    padding: 0;
    grid-area: title;
    color: #fff;
    font-family: Fira Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 26px;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.surf__info-decoration {
    width: 80px;
    height: 1px;
    background-color: #4af6cd;
    grid-area: deco;
}

.surf__info-subtitle {
    margin: 0;
    padding: 0;
    grid-area: subtitle;
    color: #fff;
    font-family: Fira Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    padding-top: 8px;
}

.surf__info-button {
    width: 16px;
    height: 15px;
    flex-shrink: 0;
    background-image: url(../../images/Surf_img_button.svg);
    background-size: contain;
    background-repeat: no-repeat;
    grid-area: button;
    margin-top: 4px;
}

.surf__info-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    column-gap: 48px;
    margin-top: 30px;
    justify-content: center;
}

.surf__info-item-img {
    width: 40px;
    height: 24px;
    margin-bottom: 8px;
}

.surf__info-list-item {
    list-style-type: none;
    color: #fff;
    text-align: center;
    font-family: Fira Sans;
    font-style: normal;
}

.surf__info-item-value {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 800;
    line-height: 23px;
    margin-bottom: 1px;
}

.surf__info-item-name {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-weight: 300;
    line-height: 12px;
    text-transform: uppercase;
}

.surf__arrows {
    position: static;
    display: flex;
    margin-bottom: 70px;
    margin-right: 80px;
    justify-content: flex-end;
    opacity: 0.25;
}

.surf__arrows:hover {
    opacity: 1;
}